* {
    box-sizing: border-box; }
  
  body {
    background: #e5f6ff;
    font-family: 'Roboto', sans-serif; }
  
  h1 {
    color: #555;
    text-align: center;
    margin-bottom: 40px; }
  
  .wrapper {
    margin: 85px 0; }
  
  .container {
    max-width: 980px;
    margin: 0 auto;
    width: 100%; }
  
  .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;
    margin: 0 -10px; }
    .slider .items {
      display: flex;
      width: 100%; }
      .slider .items .item {
        padding: 0 10px;
        width: 25%;
        flex-grow: 0;
        flex-shrink: 0; }
        @media screen and (max-width: 700px) {
          .slider .items .item {
            width: 50%; } }
        @media screen and (max-width: 500px) {
          .slider .items .item {
            width: 100%; } }
        .slider .items .item .child {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          background: #fafaff;
          border: 1px solid #9494ff;
          height: 200px;
          line-height: 200px;
          text-align: center;
          background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKd9j4XwAAAABJRU5ErkJggg==); }
        .slider .items .item .footer {
          background: #9494ff;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          height: 50px; }
    .slider .buttons #left, .slider .buttons #right {
      position: absolute;
      cursor: pointer;
      top: 40%;
      background: #500ea5;
      color: #fff;
      padding: 10px; }
    .slider .buttons #left {
      left: 10px; }
    .slider .buttons #right {
      right: 10px; }
  